{% extends 'base/layout.html'%}
{%load static%}
{%block head%}
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
<script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>

  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{%endblock%}
{%block title%}ePool | Login{%endblock%}

{%block content%}
<div class="container jumbotron mt-5">
    <div class="mb-5" style="">
       <li>
        An email will be sent to your registered email id.
       </li> 
    </div>
    <form method="POST">
        {%csrf_token%}
        {{form}}
        
        <button type="submit" class="btn btn-warning mb-1 ml-5">Go</button>
    </form>
</div>


{%endblock%}
