{% extends 'base/layout.html'%}
{%load static%}
{%block head%}
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
<script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>

  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{%endblock%}
{%block title%}ePool | Login{%endblock%}

{%block content%}
<div  class="container jumbotron mt-5" style="font-size: 30px;">
    Your password has been successfully changed, click <a href="{%url 'login_page'%}">here </a>to login.
</div>

{%endblock%}
